.image-landscape { 
    position: absolute;
    
    top: 0;
    left: 0;

    opacity: 0;
} 

.transition-in { 
    opacity: 1;

    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
} 

.transition-out { 
    opacity: 0;

    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
} 

html {
    background-color: red;
}

body {
    background-color: pink;
}

#root {
    background-color: grey;

    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow:hidden;

    margin: 10px;
}

